name: build and deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      ref:
        required: true
        type: string


jobs:
  changes-filter:
    name: Check changes
    runs-on: ubuntu-slim
    outputs:
      server: ${{ steps.filter.outputs.server }}
      client: ${{ steps.filter.outputs.client }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Get changed files for merge commit
        id: get_files
        run: |
          # マージコミットでも全ての変更を検出するため diff-tree を使用し、スペース区切りのリストに変換する
          echo "files=$(git diff-tree --no-commit-id --name-only -r -m ${{ github.event.after }} | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          changed-files: ${{ steps.get_files.outputs.files }}
          filters: |
            server:
              - 'server/**'
            client:
              - 'client/**'
