name: Pull Request Release

on:
  pull_request:
    branches:
      - release

jobs:
  changes:
    name: Check changes
    runs-on: ubuntu-slim
    outputs:
      client: ${{ steps.changes.outputs.client }}
      server: ${{ steps.changes.outputs.server }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            client: 
              - 'client/**'
            server:
              - 'server/**'

  output:
    name: Detected changes
    runs-on: ubuntu-slim
    steps:
      - name: Echo output
        run: |
          echo "client=${{ steps.filter.outputs.client }}" >> $GITHUB_OUTPUT
          echo "server=${{ steps.filter.outputs.server }}" >> $GITHUB_OUTPUT